h1 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 2%;
}
footer {
    text-align: center;
    background: #1616d0;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
    text-decoration: underline;
}
.license {
    text-align: center;
}
.semi {
    width: 50%;
    margin-left: 25%;

}
.btn {
    width: 100%;
    margin-bottom: 1%;
}